
:root {
  --primary: rgb(32,66,26);
  --secondary: rgba(0,0,0,0.8);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10.5px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

html { 
  scroll-snap-type: y proximity;

  @media (max-width: 768px) {
    scroll-snap-type: none;
  }
}

body { 
  scroll-snap-type: y mandatory;
  @media (max-width: 768px) {
    scroll-snap-type: none;
  }
}